<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item" id="search" class="bd-search">
                <p class="control has-icons-left">
                    <input class="input" type="text" placeholder="Search">
                    <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        {{- block "main" . }}{{- end }}
    </div>
</section>
<footer class="footer">
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                <div class="column is-one-third">
                    <article class="notification media has-background-white">
                        <figure class="media-left">
            <span class="icon">
              <i class="has-text-warning fas fa-columns fa-lg"></i>
            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Columns</h1>
                                <p class="is-size-5 subtitle">
                                    The power of <strong>Flexbox</strong> in a simple interface
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
            <span class="icon has-text-info">
              <i class="fab fa-lg fa-wpforms"></i>
            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Form</h1>
                                <p class="is-size-5 subtitle">
                                    The indispensable <strong>form controls</strong>, designed for maximum clarity
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fas fa-lg fa-cubes"></i>
            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Components</h1>
                                <p class="is-size-5 subtitle">
                                    Advanced multi-part components with lots of possibilities
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
            <span class="icon has-text-grey">
              <i class="fas fa-lg fa-cogs"></i>
            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Modifiers</h1>
                                <p class="is-size-5 subtitle">
                                    An <strong>easy-to-read</strong> naming system designed for humans
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
            <span class="icon has-text-primary">
              <i class="fas fa-lg fa-warehouse"></i>
            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Layout</h1>
                                <p class="is-size-5 subtitle">
                                    Design the <strong>structure</strong> of your webpage with these CSS classes
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="column is-one-third">
                    <article class="notification has-background-white media">
                        <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fas fa-lg fa-cube"></i>
            </span>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <h1 class="title is-size-4">Elements</h1>
                                <p class="is-size-5 subtitle">
                                    Essential interface elements that only require a <strong>single CSS class</strong>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <div class="columns is-mobile is-centered">
        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <div class="tags has-addons"><a class="tag is-link"
                                                href="https://github.com/BulmaTemplates/bulma-templates">Bulma
                    Templates</a>
                    <span class="tag is-info">MIT license</span>
                </div>
            </div>
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-dark">based on a pen</span>
                    <span class="tag has-addons is-warning"><a href="https://codepen.io/melanieseltzer/pen/odOXWM"><i
                            class="fab fa-lg fa-codepen"></i></a></span>
                </div>
            </div>
        </div>
    </div>

</footer>
</body>
</html>
