{{ define "countTagsRecursive" }}
    {{$scratch := .scratch}}
    {{range .page.Data.Pages}}
        {{template "countTagsRecursive" (dict "scratch" $scratch "page" .)}}
    {{end}}
    {{range .page.Param "tags"}}
        {{$scratch.Add . 1}}
    {{end}}
{{end}}
{{ define "main" }}
<div class="columns">
    <div class="column is-9">
        {{ partial "breadcrumbs.html" . }}
        <h3 class="title is-3">{{.Title}}</h3>
        {{ range .Pages.ByPublishDate.Reverse }}
            {{ if eq .Kind "page" }}
                {{ partial "rule-card.html" . }}
            {{ else }}
                {{ partial "section-card.html" . }}
            {{end}}
        {{ end }}
    </div>
    <div class="column is-3">
        <aside class="is-medium menu">
            <p class="menu-label">
                Top Tags
            </p>
            <div class="tags">
                {{$tagCount := newScratch}}
                {{template "countTagsRecursive" (dict "scratch" $tagCount "page" .)}}
                {{$sortedTags := newScratch}}
                {{range $tag, $count := $tagCount.Values}}
                    {{$sortedTags.SetInMap $tag "tag" $tag}}
                    {{$sortedTags.SetInMap $tag "count" $count}}
                {{end}}
                <div class="field is-grouped is-grouped-multiline">
                    {{range sort $sortedTags.Values "count" "desc" | first 20}}
                    <div class="control">
                        <div class="tags has-addons">
                            <a href="{{site.BaseURL}}/tags/{{.tag}}}" class="tag is-medium">{{.tag}}</a></a>
                            <span class="tag is-medium">{{.count}}</span>
                        </div>
                    </div>
                    {{end}}
                </div>

            </div>
        </aside>
    </div>
</div>
{{ end }}