{{ define "main" }}
<div class="columns">
    <div class="column is-3">
        <aside class="is-medium menu">
            <p class="menu-label">
                Rule Tags
            </p>
            {{ partial "tags.html" . }}
            <ul class="menu-list">

            </ul>
            <p class="menu-label">
                More to read...
            </p>
            <ul class="menu-list">
                <li><span class="tag is-white is-medium">Lorem</span></li>
                <li><span class="tag is-white is-medium">Ipsum</span></li>
            </ul>
        </aside>
    </div>
    <div class="column is-9">
        {{ partial "breadcrumbs.html" . }}
        <div class="content is-medium">
            <h3 class="title is-3">{{.Title}}</h3>
            <div class="box">
                {{.Content}}
            </div>
        </div>
    </div>
</div>
{{ end }}