{{ define "main" }}
<div class="columns">
    <div class="column is-9">
        {{ partial "breadcrumbs.html" . }}
        <div class="content is-medium">
            <h3 class="title is-1">{{.Title}}</h3>
            <div class="box">
                <div class="field is-grouped is-justify-content-center">
                    {{partial "level-tag.html" (dict "level" ($.Param "level") "size" "medium")}}
                    {{partial "status-tag.html" (dict "status" ($.Param "status") "size" "medium")}}
                </div>
                {{.Content}}
            </div>
        </div>
    </div>
    <div class="column is-3">
        <aside class="menu is-medium">
            <p class="menu-label">
                Rule Tags
            </p>
            {{ partial "tags.html" . }}
            <ul class="menu-list">

            </ul>
            <p class="menu-label">
                Similar rules
            </p>
            {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            <ul class="menu-list">
                {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
        </aside>
    </div>
</div>
{{ end }}
