<div class="card block">
    <header class="card-header">
        <a class="card-header-title" href="{{.Permalink}}">
            {{ .Title }}
        </a>
        <a class="card-header-icon" href="{{.Permalink}}">
            <div class="field is-grouped is-justify-content-center">
                {{partial "reviewer-tag.html" (dict "reviewer" ($.Param "reviewer"))}}
                {{partial "level-tag.html" (dict "level" ($.Param "level"))}}
                {{partial "status-tag.html" (dict "status" ($.Param "status"))}}
            </div>
        </a>
    </header>
    <div class="card-content">
        <div class="content">
            {{ .Summary }}
        </div>
    </div>
</div>
